ClientApp/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfHomework.Exceptions" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfHomework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SearchLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLibrary" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchLibrary_LibrarySearchingExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfHomework.Exceptions" name="detail" element="q1:LibrarySearchingException" />
  </wsdl:message>
  <wsdl:message name="IService1_BorrowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBook" />
  </wsdl:message>
  <wsdl:message name="IService1_BorrowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BorrowBook_WrongSignatureExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfHomework.Exceptions" name="detail" element="q2:WrongSignatureException" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBook_WrongSignatureExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfHomework.Exceptions" name="detail" element="q3:WrongSignatureException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLibraryInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLibraryInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SearchLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchLibrary" message="tns:IService1_SearchLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchLibraryResponse" message="tns:IService1_SearchLibrary_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/SearchLibraryLibrarySearchingExceptionFault" name="LibrarySearchingExceptionFault" message="tns:IService1_SearchLibrary_LibrarySearchingExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BorrowBook" message="tns:IService1_BorrowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BorrowBookResponse" message="tns:IService1_BorrowBook_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/BorrowBookWrongSignatureExceptionFault" name="WrongSignatureExceptionFault" message="tns:IService1_BorrowBook_WrongSignatureExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReturnBook" message="tns:IService1_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReturnBookResponse" message="tns:IService1_ReturnBook_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/ReturnBookWrongSignatureExceptionFault" name="WrongSignatureExceptionFault" message="tns:IService1_ReturnBook_WrongSignatureExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLibraryInfo" message="tns:IService1_GetLibraryInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLibraryInfoResponse" message="tns:IService1_GetLibraryInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchLibrary">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibrarySearchingExceptionFault">
        <soap:fault use="literal" name="LibrarySearchingExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap:operation soapAction="http://tempuri.org/IService1/BorrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WrongSignatureExceptionFault">
        <soap:fault use="literal" name="WrongSignatureExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/IService1/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WrongSignatureExceptionFault">
        <soap:fault use="literal" name="WrongSignatureExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLibraryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfHomework/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>