ClientApp/Connected Services/ServiceReference1/WcfHomework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfHomework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfHomework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueryType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryType" nillable="true" type="tns:QueryType" />
  <xs:complexType name="ArrayOfBookType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookType" nillable="true" type="tns:BookType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookType" nillable="true" type="tns:ArrayOfBookType" />
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authors" nillable="true" type="tns:ArrayOfAuthorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookType" nillable="true" type="tns:BookType" />
  <xs:complexType name="ArrayOfAuthorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorType" nillable="true" type="tns:AuthorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorType" nillable="true" type="tns:ArrayOfAuthorType" />
  <xs:complexType name="AuthorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorType" nillable="true" type="tns:AuthorType" />
</xs:schema>