ClientApp/Connected Services/ServiceReference1/WcfHomework.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfHomework.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfHomework.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LibrarySearchingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibrarySearchingException" nillable="true" type="tns:LibrarySearchingException" />
  <xs:complexType name="WrongSignatureException">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrongSignatureException" nillable="true" type="tns:WrongSignatureException" />
</xs:schema>